.loader {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 500px;
  transform: translate(-50%, -50%);

  &__inner {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0 auto;
  }

  &--inline {
    position: static;
    min-height: 200px;
    transform: none;
  }
}
