.searchbar {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 3rem auto 0;

  button {
    @include font-size(large);
    display: inline-flex;
    position: absolute;
    top: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border: 0;
    background: transparent;
  }

  input[type='text'] {
    @include font-size(small);
    display: inline-block;
    width: 100%;
    height: 5rem;
    padding: 0.3rem 1.3rem;
    padding-right: 6.3rem;
    border-radius: 5rem;
  }

  &-wrapper {
    width: 100%;
    text-align: center;

    .clear-button {
      @include font-size(x-small);
      @include font-weight(bold);
      display: inline-block;
      margin-top: 2rem;
      padding: 0.8rem 1.8rem;
      border: 0;
      border-radius: 2rem;
    }
  }
}
