.home {
  padding-top: 2rem;

  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .refresh-link {
    @include respond(large) {
      transition: color 0.3s;
      cursor: pointer;

      &:hover {
        @include themed() {
          color: theme-color(primary);
        }
      }
    }
  }
}
