.header {
  position: relative;
  width: 100%;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;

    &--alt {
      justify-content: flex-end;
    }
  }

  .color-switch {
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    span {
      @include font-size(regular);
    }

    &__icon svg {
      width: 2rem;
      height: 2rem;
    }
  }
}
