.page {
  &--backdrop {
    overflow: hidden;
  }

  &__body {
    min-height: calc(100vh - 140px);
  }

  &__logo {
    display: inline-flex;
    align-items: center;

    img {
      width: 70px;
      height: auto;
    }

    span {
      @include font-size(x-large);
      @include font-weight(bold);

      margin-left: 1rem;
    }

    &--alt {
      img {
        width: 40px;
      }

      span {
        @include font-size(medium);
      }
    }
  }
}
