.page {
  &--backdrop {
    overflow: hidden;
  }

  &__body {
    min-height: calc(100vh - 140px);

    &--no-header {
      min-height: calc(100vh - 70px);
    }
  }

  &--no-overflow {
    overflow: hidden;
  }

  &--default {
    overflow: auto;
  }
}
